:root{
    /*Colors*/

/*Primary*/

--Green-500: hsl(158, 36%, 37%);
--Green-700: hsl(158, 42%, 18%);

/*Neutral*/

--Black: hsl(212, 21%, 14%);
--Grey: hsl(228, 12%, 48%);
--Cream: hsl(30, 38%, 92%);
--White: hsl(0, 0%, 100%);

font-size: 14px;
}
@font-face {
    font-family: "Montserrat";
    src: url(./Montserrat/static/Montserrat-Regular.ttf);
    font-weight: 500;
}
@font-face {
    font-family: 'Montserrat';
    src: url(./Montserrat/static/Montserrat-Bold.ttf);
    font-weight:700;
}
@font-face {
    font-family: 'Fraunces' ;
    src: url(./Fraunces/static/Fraunces_72pt-Bold.ttf);
    font-weight:bold;
}
*{
    box-sizing: border-box;
    margin:0;
}
body{
    background-color: var(--Cream);
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-card{
    margin:9rem 1rem;
    border-radius: 20px;
    max-width: 28.6rem;
}
.mobile-perfume{
    width:100%;
}
.desktop-perfume{
    display: none;
}
.perfume-info{
    background-color: var(--White);
    padding:2rem
}
p, h1{
    padding-bottom: 1rem;
}
.montserrat{
    font-family: 'Montserrat' , sans-serif;
    font-size: 1rem;
    color: var(--Grey);
}
.product-name, .current-price{
    font-family: 'Fraunces', serif;
    font-size: 2.4rem;
}
.current-price{
    color: var(--Green-500)
}
.regular-price{
    position: relative;
    bottom:0.5em;
    left:01em
}

.buy-btn{
    width:100%;
    background-color:  var(--Green-500);
    color: var(--White);
    border: none;
    border-radius: 1rem;
    font-size: 1rem;
    padding:1rem;
    font-weight: 500;
}
.buy-btn:hover{
    background-color:  var(--Green-700);
}
.cart-icon{
    position: relative;
    top:0.2em;
    right:0.2em
    
}

@media only screen and (min-width:500px){
    .product-card{
        display: flex;
        max-width: 40rem;
    }
    .mobile-perfume{
        display: none;
    }
    .desktop-perfume{
        display: block;
        width:50%;
    }
    .perfume-info{
        width:50%;
        padding:2rem 1.5rem;
    }

}
